FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour-private-key\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com

# For emulator usage, run with `pnpm firebase emulators:start`
FIRESTORE_EMULATOR_HOST="127.0.0.1:8095"
